{% trans_default_domain 'FOSUserBundle' %}

{% block body -%}


    <article>
        <h1>Profile</h1>

        <form>
            <ul>
                <li>
                    <label for="name">{{ 'Name'|trans }}:</label>
                    {{ user.username }}
                </li>
                <li>
                    <label for="email">{{ 'Name Canonical'|trans }}:</label>
                    {{ user.usernamecanonical }}
                </li>
                <li>
                    <label for="car">{{ 'Email'|trans }}:</label>
                    {{ user.email }}
                <li>
                    <label>{{ 'Email Canonical'|trans }}:</label>
                    {{ user.emailcanonical }}
                </li>
                <li>
                    <label>{{ 'First Name'|trans }}</label>
                    {{ user.firstname }}
                </li>
                <li>
                    <label>{{ 'Last Name'|trans }}:</label>
                    {{ user.lastname }}
                </li>
                <li>
                    <label>{{ 'Token'|trans }}:</label>
                    {{ user.token }}
                </li>
            </ul>

        </form>
    </article>
    <footer>
        <p>A little freebie made with <strong>♥</strong> by the nice folks over at </p>
    </footer>

{% endblock %}
